html{
    background: url("./../bg2.jpg");
}
body {
    color: white;
}

a {
    color: gray;
}

#page-wrapper {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
    margin: 0 auto;
}

header {
    position: absolute;
    width: 700px;
    top: 30%;
    left: 40%;
}

.fa-github{
    color: white;
}
.fa-heart {
    color: red;
}